@use "../utils/mixins";

.container {
  overflow: hidden;

  max-width: 1260px;
  min-height: 100%;
  margin: 0 auto;
  padding: 24px;

  @include mixins.on-tablet {
    padding: 50px 100px;
  }

  @include mixins.on-desktop {
    padding: 50px 120px;
  }
}
