@use "../utils/variables";
@use "../utils/mixins";

.now-on-view {
  &__section {
    margin-bottom: 48px;
  }

  &__photos {
    margin-bottom: 24px;
  }

  &__photo-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__photo {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
    }

    &--first {
      object-position: 25%;
    }

    &--last {
      object-position: right;
    }
  }

  &__extra {
    display: none;

    @include mixins.on-desktop {
      display: block;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__link {
    width: max-content;
    font-weight: bold;
    color: variables.$color-accent;
  }
}
