@use "variables";

@mixin on-tablet {
  @media (width >= 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (width >= 1024px) {
    @content;
  }
}

@mixin top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin menu-slider {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: variables.$color-primary;
}
