$color-primary: #ffffff;
$color-secondary: #161616;
$color-accent: #d12d35;
$color-input-placeholder: #7e7e83;
$color-input-background: #f8f8fa;
$color-text-base: #3e3e3e;
$color-text-hover: #d5d7de;
$color-button-hover: #ae1c23;
$color-button-pressed: #eb343d;
